.card {
  margin-top: 5rem;
  box-shadow: 15px 20px 40px rgba(216, 211, 211, 0.4);
  border-radius: 2rem;
  overflow: hidden;
}

/* If "Image" component is used // As it is in github's live-code example, and this one */
.imgWrapper {
  position: relative;/*Important for "layout='fill'" which uses a "position:absolute" "<span><span/>" inside*/
  width: 100%;
  height:75vh;/*25vh*//*20vh*/
}
/* If "Image" component is not used // As finally used in video tutorial example */
/*.imgWrapper img {
  height: 25vh;
  width: 100%;
}*/

.card h2 {
  padding: 0.5rem 0rem;
  font-size:0.9rem;
}
.card h3 {
  font-size:0.7rem;/*1rem*/
}
.card img {
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card img:hover {
  opacity:0.7;/*0.3*//*0.8*/
}

.caption {
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0rem;
}

.author {
  display: flex;
  align-items: center;
}
.author img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0rem 2rem;
  }
}