// REVISING (THIS CAME FROM MY "next-js-blog-graphcms" // WON'T USE ".module" FILES AT THE END)

// TEMPORARY
.article {
  margin:4rem 2rem;
  padding:2rem;
  border:1px dotted #000;
  border-radius:1rem;
  > img {
    max-width:500px;
    cursor:pointer;
    opacity:1;
    transition:opacity 0.3s ease;//ease-in-out
    &:hover, &:active, &:focus {
      opacity:0.7;
    }
  }
  .project-caption {
    span {
      > img {
        //width:120px;
        //height:90px;
        //border-radius:50%!important;//Can't add as per <Image/> component styles, neither to span. Should experiment
        object-fit:cover;
      }
    }
  }
}

// TEMPORARY
@media screen and (max-width: 768px) {
  .article {
    margin:3rem 1rem;
    padding:1rem;
  }
}