//----------------------------------General Styles----------------------------------//

// General
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

// NextJS Original Fonts
// html, body {
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }

html {
  //background-color:$theme-color-beige;
  text-rendering:optimizeLegibility;//geometricPrecision
  font-smooth:always;
  -webkit-font-smoothing:subpixel-antialiased;//antialiased
  -moz-osx-font-smoothing:grayscale;
}
body {
  min-height:100vh;
  font-family:$font-light;
  font-size:15px;//17px
  background-color:$theme-color-beige;
  color:$theme-color-grey-dark;
  line-height:1.8;
  letter-spacing:0.5px;
  .text-italic {
    font-family:$font-light-italic!important;
  }
}

// Fonts
h1, h2, h3, h4, h5, h6, .font-headline {
  //letter-spacing:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family:$font-headline;
}
.font-headline {
  font-family:$font-headline!important;
}
.font-regular {
  font-family:$font-regular!important;
  &.text-italic {
    font-family:$font-regular-italic!important;
  }
}
.font-light {
  font-family:$font-light!important;
  &.text-italic {
    font-family:$font-light-italic!important;
  }
}
.font-ultra-light {
  font-family:$font-ultra-light!important;
  &.text-italic {
    font-family:$font-ultra-light-italic!important;
  }
}

// Headline, Title, Subtitle
.headline, .title, .subtitle {
}
.headline {//Targets 768px Down & 576px All The Way Up If No Styles Are Added/Overriding In Tablet-And-Desktop Or Down Here
  font-size:2.85rem;
  line-height:1.02;
}
.text-hero {
  font-size:4.3rem;
  line-height:1.5;
}
.text-gigantic {
  font-size:3.7rem;
  line-height:0.88;
}
.text-intro, .text-huge {
  font-size:2.85rem;
}
.text-intro {
  line-height:1.19;
}
.text-huge {
  line-height:1.02;
}
.text-big {
  font-size:2rem;
}
.text-medium {
  font-size:1.7rem;//1.2rem
}
.text-small {
  font-size:1.1rem;
}
// .text-stroke-rosybrown {
//   color:transparent!important;
//   -webkit-text-fill-color:theme-color('transparent');//Will Override Color (Regardless Of Order)
//   -webkit-text-stroke-width:1px;
//   -webkit-text-stroke-color:theme-color('rosybrown');
// }
// .text-stroke-chocolate {
//   color:transparent!important;
//   -webkit-text-fill-color:theme-color('transparent');//Will Override Color (Regardless Of Order)
//   -webkit-text-stroke-width:1px;
//   -webkit-text-stroke-color:theme-color('chocolate');
// }
@media only screen and (max-width:576px) {//Down
  .headline {
    font-size:2.5rem;
  }
  .text-hero {
    font-size:3.4rem;
  }
  .text-gigantic {
    font-size:3rem;
  }
  .text-gigantic {
    line-height:1;
  }
  .text-intro, .text-huge {
    font-size:2.5rem;
  }
  .text-big {
    font-size:1.8rem;
  }
  .text-medium {
    font-size:1.6rem;
  }
}
@media only screen and (max-width:400px) {//Down
  .headline {
    font-size:1.6rem;
  }
  .text-hero {//, .text-gigantic
    font-size:2.5rem;
  }
  .text-gigantic {//.text-hero,
    font-size:2.1rem;
  }
  .text-intro {//, .text-huge
    font-size:1.8rem;
  }
  .text-huge {//.text-intro,
    font-size:1.6rem;
  }
  .text-big {
    font-size:1.4rem;
  }
  .text-medium {
    font-size:1.2rem;
  }
}




// Website Colours
.text-rosybrown {
  color:lighten(theme-color("rosybrown"),10)!important;
  //color:lighten($theme-color-rosybrown,10)!important;



  color:theme-color("rosybrown");
  color:$theme-color-rosybrown;

}





// Link Override Styles
a {
  color:lighten($theme-color-rosybrown,10);
  transition:all ease 0.5s;//ease-out
  &:hover, &:active, &:focus {
    color:lighten($theme-color-rosybrown,20);
    text-decoration:none;
  }
  // &.text-black {
  //   &:hover, &:active, &:focus {
  //     color:lighten(#000,15)!important;
  //   }
  // }
  // &.text-white {
  //   &:hover, &:active, &:focus {
  //     color:darken(#FFF,15)!important;
  //   }
  // }
  // &.text-grey-dark {
  //   &:hover, &:active, &:focus {
  //     color:lighten($theme-color-grey-dark,15)!important;
  //   }
  // }
  // &.text-grey-mid {
  //   &:hover, &:active, &:focus {
  //     color:lighten($theme-color-grey-mid,15)!important;
  //   }
  // }
  // &.text-grey-light {
  //   &:hover, &:active, &:focus {
  //     color:darken($theme-color-grey-light,15)!important;
  //   }
  // }
  &.text-rosybrown {
    &:hover, &:active, &:focus {
      color:lighten($theme-color-rosybrown,10)!important;
    }
  }
}

// Buttons
button, a.button {
  cursor:pointer;
  //line-height:30px;
}

// Selection Styles
::selection {//webkit, opera, IE9
  background-color:rgba(105,169,179,0.7);
}
::-moz-selection {//mozilla firefox
  background-color:rgba(105,169,179,0.7);
}

// Container (¿? | To Revise/Check A 'Layout' Component To Wrap Everything | ¿To Use Bootstrap? Let's See)
.container {//Temporary
  //max-width:...;
  padding:0 2rem;
}

//----------------------------------Form Styles----------------------------------//

// Input Placeholders
::-webkit-input-placeholder {
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
:-moz-placeholder {//Firefox 18-
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
::-moz-placeholder {//Firefox 19+
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}
:-ms-input-placeholder {
  font-family:$font-ultra-light;
  font-size:20px;
  color:$theme-color-chocolate;
}

// Forms
form {
  select {
    // -webkit-appearance:none;
    // -moz-appearance:none;
    // appearance:none;
    > option {
    }
  }
}

//----------------------------------Section Styles----------------------------------//

// Nav
nav {
}

// Header
header {
  //flex:1;
  min-height:100vh;
  padding:4rem 0;//Temporary
  h1, h2, h3, h4, h5, h6 {//Temporary
    &.headline {//.title
      margin:0;
    }
  }
}

// Main
main {
  min-height:80vh;//Temporary
  border-top:1px solid $theme-color-grey-dark;//Temporary
  border-bottom:1px solid $theme-color-grey-dark;//Temporary
}

// Section
section {
}

// Footer
footer {
  //flex:1;
  padding:2rem 0;//Temporary
}